a {
    margin: 5px 10px 20px 30px;
}


#tags_id:hover { /* #for id's */
    color: rgba(0, 89, 255, 0.87);
}

#strongLorem:hover {
    color: rgb(255, 0, 0);
}

#forms {
    background-color:lightslategray;
    border-radius: 20px;
    padding: 35px;
    padding-bottom: 50px;
    margin: auto; /* Centra el div horizontalmente */
    position: absolute; /* Permite centrarlo en toda la página */
    top: 50%; /* Posiciona el div en el centro vertical */
    left: 50%; /* Posiciona el div en el centro horizontal */
    transform: translate(-50%, -50%);
}

#log_button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

#homeTitle {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 45px;
}

#dog_container {
    display: flex;
    align-items:flex-start;
    
    gap: 30px;
    margin: 20px 50px;
}

#chihuahua {
    display: flex;
    align-items: center;
    margin: 50px;
    object-fit: cover;
    border-radius: 20px;
    border: 20px solid cadetblue;
}

.dogLorem {
    flex: 1;
    background-color: cadetblue;
    margin: 5px 10px 20px 30px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.profile{
    max-width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#profileImg{
    max-width: 300px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* Ajustar el ancho y padding de los list-group-items */
#list-example{
    max-width: 200px; /* Ancho máximo reducido */
    margin: 0 0 5px 0; /* Solo margen inferior */
    padding: 8px 15px;
    border-radius: 5px;
}

#ProfileTitle {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 45px;
    margin-bottom: 0px;
}

.col-8 {
    padding: 0 0 0 30px; /* Más padding izquierdo */
    margin: 0;
    max-width: 700px; /* Ancho máximo controlado */
    text-align: left; /* Alineación izquierda */
    margin-right: auto; /* Empuja hacia la izquierda */
    margin-left: 0; /* Elimina margen izquierdo automático */
}

.scrollspy-example h4{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.scrollspy-example p{
    margin-bottom: 1.2rem;
}

